<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="delivery_note_code_order_place_before_action" instance="Beersisters\Deliverynote\Observer\PlaceOrder"/>
    </event>
</config>